/*! reset.scss Copyright 2014@Tomohiro IKEDA */
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p|Sawarabi+Mincho&display=swap");
html, body, div,
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dt, dd,
table, th, td,
form, fieldset,
header, section, article, aside, footer, figure,
figcaption, nav {
  margin: 0px;
  padding: 0px; }

article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary {
  display: block; }

@viewport {
  width: extend-to-zoom 100%;
  zoom: 1;
  user-zoom: zoom; }

img {
  max-width: 100%; }

input, textarea, select, button {
  outline: none; }

label,
select,
[type="button"],
[type="checkbox"],
[type="radio"],
[type="submit"],
[type="reset"],
[type="file"],
[type="number"] {
  cursor: pointer; }

html {
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll; }

ul, ol {
  list-style: none; }

p, li, dt, dd, th, td, pre {
  -ms-line-break: strict;
  line-break: strict;
  -ms-word-break: break-strict;
  word-break: break-strict; }

table {
  border-collapse: collapse;
  border-spacing: 0px; }

img {
  border: none;
  vertical-align: middle; }

header .menu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center; }

header .header-logo {
  width: 240px;
  height: 42px;
  margin: 10px; }

header ul {
  display: block;
  display: flex;
  flex-direction: row; }

header li {
  display: block;
  margin: 10px 20px 10px 25px;
  padding: 10px;
  font-size: 12px; }

footer {
  background-color: #008DB7;
  font-size: 20px;
  color: #F4F3F9;
  height: 50px;
  width: 100%; }
  footer p {
    padding: 10px; }

body {
  font-family: 'M PLUS 1p';
  background-color: #FFFDED;
  text-align: center; }
