/*! reset.scss Copyright 2014@Tomohiro IKEDA */
html, body, div,
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dt, dd,
table, th, td,
form, fieldset,
header, section, article, aside, footer, figure,
figcaption, nav {
  margin: 0px;
  padding: 0px; }

article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary {
  display: block; }

@viewport {
  width: extend-to-zoom 100%;
  zoom: 1;
  user-zoom: zoom; }

img {
  max-width: 100%; }

input, textarea, select, button {
  outline: none; }

label,
select,
[type="button"],
[type="checkbox"],
[type="radio"],
[type="submit"],
[type="reset"],
[type="file"],
[type="number"] {
  cursor: pointer; }

html {
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll; }

ul, ol {
  list-style: none; }

p, li, dt, dd, th, td, pre {
  -ms-line-break: strict;
  line-break: strict;
  -ms-word-break: break-strict;
  word-break: break-strict; }

table {
  border-collapse: collapse;
  border-spacing: 0px; }

img {
  border: none;
  vertical-align: middle; }
