// トップページ　新猫線とは？説明
.top-wrap1{
    background-color: #FAE67D;
    width:100%;
    height:250px;
    transform:skew(0deg, -10deg);
    position: relative;
    z-index: 4;
    
    img{
        width:250px;
        height:85px;
        transform:skew(0deg, 10deg);
    }

    description__coment{
        display: block;
        width:800px;
        text-align: left;
    }
   
    .more-link {
        display: block;
        padding:15px 0px;
    }
}

// トップページ　バックナンバー・メンバー紹介・公演情報
.top-wrap2{
    background-color:#C2E5F9;
    width:100%;
    height:1100px;
    transform:skew(0deg, 10deg);
    position: relative;
    margin:-20% -5% 0 0;
    overflow: hidden;
    z-index: 3;

    .topbacknumber-logo{
        width:200px;
        height:65px;
        position: absolute;
        top:390px;
        left:21%;
        transform:skew(13deg, -28deg);
        z-index: 1;
    }

    .top-backnumber__wrap{
        width:423px;
        height: 500px;
        background-color:#FFFDED;
        margin:29% 30% 0 20% ;
        transform:skew(0deg, -20deg);
        position: relative;
    }

    .top-backnumber__wrap:after{
        content:"";
        width:423px;
        height: 200px;
        background-color:#FFFDED;
        margin:29% 30% 0 20% ;
        transform:skew(0deg, 20deg);
        position: absolute;
        top:300px;
        left:-20%;
        display: block;
        z-index:0;
    }

    //  作品詳細
    .top-backnumber__wrap2{
        z-index: 1;
        position: relative;
        display: block;
        transform:skew(0deg, 10deg);
        margin-top:20px;
        
        img{
            margin-top:30px;
        }
    }

    .top__backnumber__link{
        display: block;
        position: absolute;
        top:1050px;
        right:750px;
    }

    .top-member{
        background-color: #FAE67D;
    }
}

// .top-member{
//     background-color:#FDAA24;
//     width:100%;
//     height:400px;
//     transform:skew(0deg, 10deg);
//     position: relative;
//     margin:0 -10% 0 0;
//     overflow: hidden;
//     z-index: 1;

//     .top-member__wrap{
//         width:870px;
//         height: 200px;
//         background-color:#FFFDED;
//         margin:20px;
//         margin-right: auto;
//         margin-left:auto;
//     }

//     img{
//         width:250px;
//         height:85px;

//     }
// }