// トップページ　新猫線とは？説明

//斜めの背景（黄色）
.top-wrap1{     
    background-color: #FAE67D;
    width:100%;
    height:250px;
    transform:skew(0deg, -10deg);//傾斜
    position: relative;
    z-index: 3;
    
    //「劇団　新猫線とは」ロゴ
    img{
        width:250px;
        height:85px;
        transform:skew(0deg, 10deg);//傾斜
        margin-top:20px;
    }
    
    //劇団紹介文
    .description__coment{
        display: block;
        width:800px;
        text-align: center;
        margin-top:15px;
        margin-left:25%;
        margin-right:20%;
        transform: translate(0, 0);
        opacity: 0;
    }

    .description__coment.active{
        transition: all 1s;
        transform: translate(-50px, 0);
        opacity: 1;
    }
    

   
}

// バックナンバー・メンバー紹介・公演情報を囲む青い背景
.top-wrap2{
    background-color:#C2E5F9;
    width:100%;
    height:1100px;
    transform:skew(0deg, 10deg);
    position: relative;
    margin:-20% -5% 0 0;
    overflow: hidden;
    z-index: 2;

    //  バックナンバーのロゴ
    .topbacknumber-logo{
        width:200px;
        height:65px;
        position: absolute;
        top:390px;
        left:21%;
        transform:skew(13deg, -28deg);
        z-index: 2;
    }

    //  バックナンバーを囲む白い背景
    .top-backnumber__wrap{
        width:410px;
        height: 500px;
        background-color:#FFFDED;
        margin:29% 20% 0 20% ;
        transform:skew(0deg, -20deg);
        position: relative;
        z-index: 1;
    }

   

    //スクロールする範囲
    .top-backnumber__scroll{
        height:550px;
        width:420px;
        overflow:scroll;
        position: absolute;
            top:30px ;
            right:50px;
        transform: skew(0deg, 10deg);
        opacity:0;
        }

    .top-backnumber__scroll.active{
        position: absolute;
        transition: all 1s;
        transform: skew(0deg, 10deg)translate(50px, 0);
            opacity: 1;
    }

    //バックナンバー作品の説明文
    .top-backnumber__wrap2{
        z-index: 1;
        position: relative;
        display: block;
   
        //作品画像
        img{
            margin-top:20px;
        }

        //作品タイトル
        .top-backnumber__wrap__tile{
            font-size:20px;
        }

    }

    //バックナンバー背景の下部分
    .wrap__after{
        width:410px;
        height: 230px;
        background-color:#FFFDED;
        margin:29% 30% 0 20% ;
        position: absolute;
        top:400px;
        display: block;
        z-index:0;
    }

    

    // メンバー紹介
    .top-member{

        //メンバー紹介ロゴ
        .topmember-logo{
            position: absolute;
            top:245px;
            right:530px;
            width:160px;
            height:65px;
            transform:skew(13deg, -29deg);
            z-index: 3;

        }

        //メンバー紹介を囲む白い背景
        .top-member__wrap{
            background-color:#FFFDED;
            width:410px;
            height: 300px;
            position: absolute;
            top:260px;
            right:20%;
            transform:skew(0deg, -20deg);
            
            .top-member__wrap2{
                margin-top:60px;
                position: absolute;
                left:100px;
                opacity: 0;
            }

            .top-member__wrap2.active{
                // position: absolute;
                transition: all 1s;
                transform: translate(-50px, 0);
                    opacity: 1;
            }


            p{
                line-height:30px;
                position: relative;
                transform:skew(0deg, 10deg);
                
            }

            .topmember__wrap__title{
                font-size: 20px;
                font-weight:bold;
                text-align: left;
                width:180px;
                
            }

            .topmember__wrap__coment{
               text-align: left;
               position: relative;
               top:5px;
               left:20px;
            }

        }

    }
}

.top-performance{

    .top-performance-logo{
        position: absolute;
        top:630px;
        right:530px;
        transform:skew(10deg, -30deg);
        widows: 140px;
        height:60px;
    }

    .top-performance-wrap{
        background-color:#FFFDED;
        width:410px;
        height:300px;
        position: absolute;
        top:650px;
        right:20%;
        transform:skew(0deg, -20deg);
    }

    .top-performance-wrap:after{
        content:"";
        width:410px;
        height: 200px;
        background-color:#FFFDED;
        margin:29% 30% 0 20% ;
        transform:skew(0deg, 20deg);
        position: absolute;
        top:76px;
        left:-20%;
        display: block;
        z-index:0;
    }

    .top-performance-wrap2{
        z-index: 1;
        position: absolute;
            top:40px;
            right:-20px;
        opacity: 0;
        transform: skew(0deg,10deg);
    
        .coment-title{
            font-size: 20px;
            margin-top:25px;
            font-weight:bold;
            text-align: left;
        }   
    }

    .top-performance-wrap2.active{
        position: absolute;
            top:40px;
            right:-20px;
        z-index: 1;
        transition: all 1s;
        transform: skew(0deg,10deg)translate(-50px, 0);
        opacity: 1;
    }


}  

.top-wrap3{
    background-color:#c6dd72;
    width:100%;
    height:300px;
    transform:skew(0deg, 10deg);
    position: relative;
    margin:0 -5% 0 0;
    overflow: hidden;
    z-index: 1 ;

   img{
       height:60px;
       margin:20px;
   }
   .recrute-coment{
       line-height: 30px;
       font-size:15px;
       position: absolute;
            left:350px;
        opacity: 0;
   }

   .recrute-coment.active{
    transition: all 1s;
    transform:translate(50px, 0);
    opacity: 1;
   }

   .top-recrute-link{
       margin-top:20px;
       display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        background:#008DB7;/*ボタン色*/
        color: #FFFDED;
        border-bottom: solid 4px #627295;
        border-radius: 3px;
        position: absolute;
            top:220px;
            left:600px;
   }
   
}

.toppage a{
    display: block;
    position: relative;
    top:-30px;
    left:100px;
    width:200px;
    font-size:20px;
}
