header{

    .menu-wrap{
        display:flex;
        flex-direction: row; 
        justify-content: center;
    }

    .header-logo{
        width:240px;
        height:42px;
        margin:10px;
    }

    ul{
        display:block;
        display: flex;
        flex-direction: row;
    }

    li{
        display: block;
        margin:10px 20px 10px 25px;
        padding: 10px;
        font-size:12px;
        
    }

    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

    .top-image{
        position: relative;
        z-index: 5;
    }

}

footer{
    background-color:#008DB7;
    font-size:20px;
    color:#F4F3F9;
    height:108px;
    width:100%;
    position: relative;
    z-index: 2;

    p{
        padding:10px;
    }
}